







@media screen and (max-width: 992px) {
    .car-rental__cards{
        /* flex-direction: column; */
        flex-wrap: wrap;
        align-items: center;
    }

    .car-rental__card {
        background: #131313;
        border: 1px solid #171717;
        width: 85%;
      }

    .services__cards {
        /* flex-direction: column; */
        flex-wrap: wrap;
        text-align: center;
    }


    .services__title {
        text-align: center;
    }

    .car-rental__title {
        width: 70%;
    }

    
    

    
}


@media screen and (max-width: 768px) {
    .services__cards {
        flex-direction: column;
        text-align: center;
    }


    .services__title {
        text-align: center;
    }

  

    
}

@media screen and (max-width: 320px) {
    .car-rental__title {
        font-size: 35px;
       text-align: center;
    }

    .car-rental h3 {
        font-size: 15px;
    }
}



@media screen and (max-width: 875px){
    .contacts-block__links{
        gap: 1%;
    }
}

@media screen and (max-width: 720px){
    .contacts-block__logo{
        justify-content: center;
    }

    .contacts-block__links{
        flex-direction: column;
        gap: 50%;
    }

    .contacts-block__links__description{
        width: 80%;
        text-align: center;
    }

    .contacts-block__links__description p{
        margin-bottom: 10%;
    }

    .contacts-block__links__wrapper{
        text-align: center;
        width: 95%;
    }
}

@media screen and (max-width: 515px){
    .contacts-block__links__wrapper{
        flex-direction: column;
    }

    .contacts-block__links__social a{
        margin: 3% 0;
    }
}